<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" />
    <customErrors mode="Off" />
    <sessionState timeout="60" />
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
  </system.web>
  <connectionStrings>
    <add name="Webcon" connectionString="Data Source=185.88.153.67,1430;Initial Catalog=Db1;Persist Security Info=True;User ID=user_user1;Password=5Iqrf256?" providerName="system.data.sqlclient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.asp" />
        <add value="Default.htm" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 35b18da8-d4a6-40e0-b7d1-44ddaff8900e-->